img {
	width: 15px;
	height: 15px;
}

body {
	font-family: arial;
}

input:hover {
	background-color: green;
}

#borrar {
		background-image: url(borrar.png);
		background-size: contain;
		width: 50px;
		height: 50px;
		border-radius: 100px;
}

#btnAceptar {
		background-image: url(aceptar.png);
		background-size: contain;
		width: 50px;
		height: 50px;
		border-radius: 100px;
}

.respuesta:hover {
		background-color: #b7cff7;

}

.respuesta {
		width: 10%;
}

.p {
	display: inline;
}

#tick{
	width: 20px;
	height: 20px;
	visibility: hidden;
}
#x{
	width: 16px;
	height: 16px;
	visibility: hidden;
	
}
#bor{
	background-image: url("b.png");
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
#bor:hover{
	background-image: url("b.png");
	background-color:red;
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
#comp{
	background-image: url("ace.png");
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
#comp:hover{
	background-image: url("ace.png");
	background-color:#00ff00;
	background-size: contain;
	width: 40px;
	height: 40px;
	border-radius: 100px;
}


#vt:hover{
	background-color:cyan;
}
#ft:hover{
	background-color:cyan;
}